@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

/* Fix Lenis interference with Admin Dashboard popups/modals */
.lenis-stopped {
  overflow: hidden;
}

html.lenis {
  height: auto;
}

.admin-no-scroll {
  overflow: auto !important;
}